table,
td {
  border: 1px solid skyblue;
}

thead,
tfoot {
  background-color: green;
  color: #fff;
}
.form {
  width: 200px;
}
.btn {
  background-color: green;
  color: #fff;
  border-color: skyblue;
  border-radius: 50;
  width: 50px;
  height: 20px;

}
